.footer {
  margin-top: 0rem;
}

.footer hr {
  margin: 1.5rem 0;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem,
.navItem a {
  display: inline-block;
  margin-right: 1rem;

  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(67, 90, 111, 0.9);
}
