/* Set min-height to avoid page reflow while session loading */
.header {
  min-height: 6rem;
  display: block;
  width: 100%;
  /* position: relative; */
}

.loading,
.loaded {
  /* position: relative; */
  top: 0;
  opacity: 1;
  /* overflow: hidden; */
  padding: 2rem;
  margin: 0;
  transition: all 0.25s ease-in-out;
  /* box-shadow: rgba(54, 97, 126, 0.01) 0px 2px 3px -1px; */
}

.loading {
  top: -6rem;
  opacity: 0;
}

.avatar {
  border-radius: 2rem;
  display: none;
  height: 3.25rem;
  width: 3.25rem;
  /* box-shadow: inset 0 0 30px 0px white; */
  padding: 0.25rem;
  /* padding-right: 0; */
  /* background-size: 10px; */
  border: 1px solid #333;
  filter: opacity(0.9) saturate(0.5);
  /* padding: 1rem; */
  /* background-color: white; */
  /* background-size: 1rem 1rem; */
  background-repeat: no-repeat;
  background-size: 3.5rem;
  /* margin-right: 1.5rem; */
  background-clip: content-box;
  transition: all 0.2s ease-in;
  will-change: border, filter;
}
@media (min-width: 500px) {
  .avatar {
    display: block;
    margin-left: 1rem;
  }
}

.avatar:hover {
  filter: opacity(1) saturate(1);
  border: 1px solid rgba(67, 90, 111, 0.3);
}

.button,
.buttonPrimary {
  font-weight: 500;
  /* border-radius: 0.3rem; */
  /* margin-right: 0.9rem; */
  width: 25%;
  display: block;
  border: 1px solid transparent;
  /* border-bottom: 1px solid #66788a; */
  text-align: right;
  /* display: flex; */
  /* align-content: center; */

  cursor: pointer;
  font-size: 1rem;
  /* line-height: 1rem; */
  padding: 0.5rem 0.7rem;
  position: relative;
  z-index: 10;
  /* box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.05),
    inset 0 0.1rem 0.2rem rgba(255, 255, 255, 0.15),
    inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05); */
  background-color: #fff;
  /* border: 1px solid rgba(204, 204, 204, 0.7); */
  text-decoration: underline;
  color: #7b8b9a;
  text-decoration: none;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  /* margin-bottom: 0.5rem; */
}

.button:hover {
  background-color: #fff;
  /* border-color: #aaa; */
  border-color: transparent;
  color: #555;
}

.buttonPrimary {
  background-color: #346df1;
  border-color: #346df1;
  color: #fff;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15);
}

.buttonPrimary:hover {
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15),
    inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.nav-bar-wrapper {
  min-height: 4.5rem;
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
  border-top: 0;
}
.header nav {
  /* margin-bottom: 2rem; */
  padding: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #ccc; */
  align-items: center;
  padding: 1rem 0rem;
}

.nav-bar-left {
  align-items: center;
  display: flex;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar-right * ~ * {
  margin-left: 2rem;
}

.navItems {
  padding: 0;
  list-style: none;
  display: flex;
  font-weight: 500;
  text-decoration: none;
  color: #4299e1;
  color: #006bb4;
}

.navItems li:first-of-type {
  padding-left: 0;
}

/* .navItems li:last-of-type {
  padding-right: 0;
} */

.navItems a {
  font-weight: 800;
}

.navItem {
  width: 40%;
  display: block;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-weight: 800;
}

.navItem:hover,
.navItem a:hover {
  cursor: pointer;
}

.navItem:hover {
  text-decoration: underline;
}

.dropdown-test {
  background: white;
  position: 'absolute';
  padding: 0.4rem 0.3rem;
  padding: 0.5rem 1rem;
  width: 100px;
  border-radius: 0.4rem;
  color: #234361;
  font-weight: 400;
  /* box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 30px 0px;
}

.dropdown-test a {
  color: #234361;
  font-weight: 500;
  display: block;
  padding: 0.5rem 0;
}

.dropdown-test a:hover {
  text-decoration: underline;
}
