/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
  display: block;
  min-height: 4rem;
  width: 100%;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;

  /* border-radius: 0 0 0.6rem 0.6rem; */
  /* background-color: red; */
  padding: 0.6rem 1rem;
  padding: 2rem;
  margin: 0;
  background-color: #f6f6f6;
  /* border: 1px solid */
  /* background-color: red; */
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(54, 97, 126, 0.01) 0px 2px 3px -1px;
  border: 1px solid #e6e3e3;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 7.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0rem;
  left: 6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  /* padding: 1rem; */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.7rem 1.4rem;
  position: relative;
  z-index: 10;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.05),
    inset 0 0.1rem 0.2rem rgba(255, 255, 255, 0.25),
    inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
  border-color: #aaa;
  color: #555;
}

.buttonPrimary {
  background-color: #346df1;
  border-color: #346df1;
  color: #fff;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15);
}

.buttonPrimary:hover {
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15),
    inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.navItems {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  /* margin-left: 2rem; */
  /* padding: 2rem; */
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}
